<footer class="bg-violet py-[60px] flex justify-center items-center">
  <div
    class="flex flex-col px-3 w-[311px] gap-[60px] sm:w-[577px] lg:w-[824px] xl:w-[980px] mac:w-[1040px] hd:w-[1036px] fullhd:w-[1120px] 2k:w-[1210px] 4k:w-[1675px]"
  >
    <div class="flex justify-between">
      <div
        class="flex flex-col items-center justify-center font-montserrat font-bold"
      >
        <p
          class="text-white w-full text-2xl sm:text-[41px] text-left sm:w-[211px]"
        >
          Tu Crédito
        </p>
        <p
          class="text-lg text-sky_blue tracking-[8.10px] sm:text-[31px] sm:tracking-[14.09px] sm:leading-[60px]"
        >
          ONLINE
        </p>
      </div>
      <div class="flex flex-col text-base gap-[30px] items-end text-white">
        <div class="font-bold"><a href="#">Sobre Tu Crédito</a></div>
        <div><a href="/ayuda">Ayuda</a></div>
        <div><a href="/blog">Blog</a></div>
      </div>
    </div>
    <div class="bg-white h-[2px]"></div>
    <div class="text-white text-center text-base font-medium sm:w-full">
      © Copyright 2024 Tu Crédito Online | Todos los derechos reservados |
      Argentina
    </div>
  </div>
</footer>
